@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Pretty-Bird Pet Shop</h1>
        <p>Check out our fabulous deals on perches, pellets, and parrot playthings!</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>For All Your Crazy Bird Lady Needs!</h2>
        <img class="img-responsive" src="http://slowbuddy.com/wp-content/gallery/parrot-wall-paper/parrots11.jpg" />
    </div>
</div>